@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap'); @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
:root { --primary-color: #EE9A02; --primary-bg: var(--primary-color); --primary-text: var(--primary-color); --white: white; --black: black; --gray: #CFCFCF; --copyright-bg: #222222; --carousel-color: rgba(217, 217, 217, 0.2); }
/************************************ Common CSS ************************************/ 
body { font-family: 'Montserrat', sans-serif; background-color: var(--gray);}
::selection{ background-color: var(--primary-color);color: var(--white);}
.main-bg { background-color: var(--primary-bg); }
.spacing { padding-top: 150px; }
.main-text { color: var(--primary-text); }
.nav-link { color: var(--white); }
.btn:hover { background-color: var(--white) !important; color: var(--primary-color); }
.overflow{overflow: hidden;}
.overflow header nav  {height: 100vh;overflow-y: scroll;align-items:baseline;}
/* .overflow header nav .collapse.navbar-collapse {height: 100vh;overflow-y: scroll;padding-bottom: 100px;} */
h1 { font-size: 54px; font-weight: 900; }
/* h1{ font-size: clamp(18px,54px);} */
h2 { font-size: 50px; font-weight: 900; }
h3 { font-size: 40px; font-weight: 900; }
h5 { font-size: 24px; font-weight: 700; }
a{text-decoration: none; transition: all 0.3s;}

/************************************ Before Line Effect ************************************/
.before-line::before { content: ""; position: absolute; width: 50px; height: 3px; background-color: var(--primary-color); left: 0; top: 8px;}
.before-line { padding-left: 60px; }
.before-line.line-center { padding-left: 00px; }
.before-line.line-center::before { left: -60px; }

/************************************ Back to Top button ************************************/
#button { width: 50px; height: 50px; bottom: 30px; right: 30px; transition: all .5s; opacity: 0; visibility: hidden; z-index: 1000; font-size: 32px; font-weight: 900; }
#button:hover { cursor: pointer; background-color: var(--white); }
#button:active { background-color: var(--white); }
#button.show { opacity: 1; visibility: visible; }

/************************************ Fixed Social Icons ************************************/ 
.social-icon { right: 30px; bottom: 80px; z-index: 999; }
.social-icon div { width: 50px; height: 50px; }
.social-icon>div:hover { background-color: var(--primary-color) !important; }
.social-icon>div:hover a { color: var(--black) !important; }

/************************************ Header ************************************/ 
.navigation,.navbar{z-index: 9999;}
.nav-link:focus, .nav-link:hover { color: var(--primary-text) !important; }
.nav-btn button:hover { background-color: var(--white); color: var(--primary-color) !important; }
.navbar-nav{width: 75%;}
.burger {width: 32px;height: 24px;cursor: pointer;right: 2rem;top: 2rem;z-index: 20;}
.burger span {width: 100%;height: 4px;background-color: var(--white);border-radius: 12px;display: block;transition: background-color 0.5s ease-in-out;margin-top: 20px;}
.burger span::before,
.burger span::after {content: "";width: 75%;background-color: var(--white);display: block;transition: all 0.5s ease-in-out;border-radius: 12px;height: 4px;margin-left: auto;}
.burger span::after {width: 50%;}
.burger span::before {transform: translateY(-10px);}
.burger span::after {transform: translateY(10px);margin-top: -4px;}
.burger.active span {background-color: transparent;}
.burger.active span::before {transform: rotateZ(45deg) translateY(0);}
.burger.active span::after {transform: rotateZ(-45deg) translateY(0);width: 75%;}
/* .navbar.is-hidden {transform: translate(0, -90px);}
.navbar.is-visible {transform: translate(0, 0);transition: transform 1s;z-index: 99;position: fixed; top: 0;} */
.fixed-header{position: fixed;top: 0;transition: all 0.3s;}
.modal .btn:hover{background-color: var(--black) !important;}
.form-grid{row-gap: 20px;column-gap: 10px; grid-template-columns: repeat(4, minmax(0, 1fr));}
.grid-img{grid-row: span 5 / span 4;grid-column: span 2 / span 2;}
.form-7{grid-column: span 2 / span 2;}
.nav-link.dropdown-toggle:hover:before {left: 55%;}
.navbar-nav .nav-link.show {color: var(--white);}

/************************************ Banner section ************************************/ 
.carousel .slides { padding-right: 500px; }
.carousel-item img{height: calc(100vh - 90px);}
.carousel-indicators .active[data-bs-target] { border: 3px solid var(--primary-color); }
.carousel-item .btn:hover{ color: var(--primary-color) !important;}
.carousel-indicators [data-bs-target] { box-sizing: content-box; flex: 0 1 auto; width: 10px; height: 10px; border-radius: 50%; border: 3px solid var(--carousel-color); background-color: var(--carousel-color); opacity: 1;}

/************************************ Iconic Section ************************************/ 
.iconic .slick-active button { background-color: var(--primary-color); transition: all 0.5s; border: none !important; }
.iconic-img { height: 450px; width: 800px; z-index: -1; }
.iconic-img img { z-index: -1; }
.iconic button:hover{background-color: var(--primary-color) !important; color: var(--black);}
.iconic-box { width: max(700px,500px); margin: auto; margin-top: -150px; }
.iconic .slick-active.slick-slide .iconic-img, .iconic .slick-active.slick-slide .iconic-box { transform: scale(1); }
.iconic .slick-slide .iconic-img { transform: scale(0.8); transition: transform 0.5s ease-in-out; }
.iconic .slick-slide .iconic-box { transform: translateY(-50px) scale(0.8); transition: transform 0.5s ease-in-out;}

/************************************ Counter Section ************************************/ 
.counter-cards { height: 240px; }
.counter-row .col-md-6:nth-child(2), .counter-row .col-md-6:nth-child(4) { margin-top: -30px; }
.bg-color-light-dark { background-color: var(--color-light-dark); }
.counter-img { height: 100px; width: 100px; }
.counter-img { background: url("../image/Mask\ group\ 1.png"); background-size: cover; } 
.counter-cards .counter, .counter-cards strong { font-size: 36px; font-weight: 800; line-height: 22px; }

/************************************ News Section ************************************/
.news .card-btn { color: var(--gray); }
.news .slick-slide.slick-current.slick-active+.slick-active .card-btn { color: var(--primary-color); }
.news .slick-slide.slick-current.slick-active+.slick-active .card-btn::after { background-color: var(--primary-color); }
.news .card-btn::after { content: ""; background-color: var(--gray); width: 100%; height: 2px; position: absolute; bottom: 0; left: 0; }
.news .slick-arrow { position: absolute; height: 100%; top: 50%; border: none; transform: translateY(-50%); width: auto; height: auto; font-size: 0px; transition: all 0.5s; }
.news .slick-arrow:hover { background-color: var(--primary-color); } 
.news .slick-prev { right: 100%; }
.news .slick-next { left: 100%; }
.news .slick-next::after { content: "\F138"; font-family: 'bootstrap-icons'; font-size: 32px;color: var(--black); }
.news .slick-prev::after { content: "\F12F"; font-family: 'bootstrap-icons'; font-size: 32px;color: var(--black); }
.viewall-btn { margin-top: 70px;}

/************************************ Grid Section ************************************/
.images{gap:20px ;grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));grid-auto-rows: 300px;    grid-auto-flow: dense;}
.img-2{grid-row: span 2;}
.img-3{grid-column: span 2;}
.img-7{grid-column: span 3;}
.img-8{grid-row: span 2;}
.img-10{grid-column: span 2;}

/************************************ Footer ************************************/ 
.social-icon i {  font-size: 25px; }
.footer .social-icon i:hover { color: var(--white); transition: all 0.5s;}
.footer ul { line-height: 40px;}
.footer ul li { transition: all 0.5s; }
.footer { font-size: 20px; }
.footer ul li a::before { content: ''; background-color: var(--primary-color); height: 2px; width: 0px; position: absolute; top: 50%; transform: translateY(-50%); left: 0; transition: all 0.5s; border-radius: 1px; }
.footer ul li a:hover::before { width: 25px; }
.footer .upper-footer ul li a:hover {padding-left: 30px; }
.copyright ul li { border-right: 2px solid var(--gray); }
.copyright ul li:last-child { border-right: none; }
.copyright { background-color: var(--copyright-bg); }
.footer a:hover {color: var(--white) !important;}
.footer li a:hover {color: var(--white) !important;}
